/* Coolors Exported Palette - coolors.co/397367-63ccca-5da399-42858c-35393c */

/* HSL */
$color1: hsla(168%, 34%, 34%, 1);
$color2: hsla(179%, 51%, 59%, 1);
$color3: hsla(171%, 28%, 50%, 1);
$color4: hsla(186%, 36%, 40%, 1);
$color5: hsla(206%, 6%, 22%, 1);

/* RGB */
$color1: rgba(57, 115, 103, 1);
$color2: rgba(99, 204, 202, 1);
$color3: rgba(93, 163, 153, 1);
$color4: rgba(66, 133, 140, 1);
$color5: rgba(53, 57, 60, 1);